<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="${usesCleartextTraffic}"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

          <!-- Branch URI Scheme -->
          <intent-filter>
              <data android:scheme="branchandroid" />
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
          </intent-filter>


          <intent-filter android:autoVerify="true">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="https" />
              <data android:host="onvione.ru" />
              <data android:scheme="https" android:host="wrzx5.app.link" />
              <data android:scheme="https" android:host="wrzx5-alternate.app.link" />
              <data android:scheme="https" android:host="wrzx5.test-app.link" />
              <!-- Add path if needed, for example: -->
              <!-- <data android:pathPattern="/.*" /> -->
          </intent-filter>

      </activity>
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ark3Xn0ur4EM89pB25kblcldzxmQUqEJ"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_cqg23l4rq1rH02cDW5odvjlnxxoQLsA3" />
        <!-- Set to `true` to use `BranchKey.test` -->
       <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="true"
            tools:replace="android:value" 
        />
    </application>
</manifest>
